<div class="top-menu">
	<md-nav-bar md-selected-nav-item="$parent.currentNavItem" nav-bar-aria-label="navigation links">
		<md-nav-item md-nav-click="goto('page1')" name="sidenav">
			<i class="fa fa-lg fa-bars"></i>
		</md-nav-item>
		<md-nav-item md-nav-href="#main" name="main">
			<i class="fa fa-bar-chart"></i>
			Projects
 		</md-nav-item>
	</md-nav-bar>
</div>
<!--
<div class="top-menu">
	<md-toolbar md-theme="dark-grey">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
				<i class="fa fa-lg fa-bars"></i>
			</md-button>
			<md-button class="md-button" aria-label="Settings">
				<h4>
					<i class="fa fa-bar-chart"></i>
					Projects
				</h4>
			</md-button>
			<h4 class="md-toolbar-tools">
				<i class="fa fa-bar-chart"></i>
				<span>Projects</span>
			</h4>			
		</div>
	</md-toolbar>		
</div>
-->
<div class="spacer"></div>
