/*********************************************
 * Hacked: Typography
 *********************************************/
@font-size-h1:            36px; // ~36px
@font-size-h2:            30px; // ~30px
@font-size-h3:            20px; // ~24px
@font-size-h4:            18px; // ~18px
@font-size-h5:            14px;
@font-size-h6:            12px; // ~12px