/*********************************************
 * Hacked: Typography
 *********************************************/
@font-size-h1:            36px; // ~36px
@font-size-h2:            30px; // ~30px
@font-size-h3:            20px; // ~24px
@font-size-h4:            18px; // ~18px
@font-size-h5:            14px;
@font-size-h6:            12px; // ~12px

/*********************************************
 * Hacked: Typography
 *********************************************/
@table-bg:								lighten(#272B30, 3%);
@table-bg-accent:					lighten(@table-bg, 3%);
//** Background color used for `.table-hover`.
@table-bg-hover:					lighten(@table-bg, 12%);
@table-bg-active:					@table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:			darken(@table-bg, 8%);


/*********************************************
 * Hacked: Colors
 *********************************************/

@csm-light-blue: #3c8dbc;  //Primary
@csm-red:        #dd4b39;  //Danger
@csm-green:      #00a65a;  //Success
@csm-aqua:       #00c0ef;  //Info
@csm-yellow:     #f39c12;  //Warning
@csm-blue:       #0073b7;
@csm-navy:       #001F3F;
@csm-teal:       #39CCCC;
@csm-olive:      #3D9970;
@csm-lime:       #01FF70;
@csm-orange:     #FF851B;
@csm-fuchsia:    #F012BE;
@csm-purple:     #605ca8;
@csm-maroon:     #D81B60;
@csm-black:      #111;
@csm-gray:       #d2d6de;