<div csm-widget-elem class="widget md" ng-repeat="i in widgetInfo" >
	<div class="widget-body" >
		<div class="widget-body-icon">
			 <i class="fa fa-anchor"></i>
		</div>
		<div class="widget-body-inner">
			<md-list flex>
				<md-subheader class="md-sticky">
					<h2>{{i.name}}</h2>
				</md-subheader>
				<md-list-item ng-click="null">
					<p>New Tickets:</p>
					<p>{{i.data.newTickets}}</p>
				</md-list-item>
				<md-list-item ng-click="null">
					<p>Close Tickets:</p>
					<p>{{i.data.closeTickets}}</p>
				</md-list-item>
			</md-list>
		</div>
	</div>
</div>